<div class="container">
  <div class="sign-in row m-t-50 valign-wrapper">
    <!-- Page content -->
    <div class="col s6 offset-s3 valign">
      <div class="card">
        <div class="card-content">
          <!-- title -->
          <div class="body-1 ui-app__page-content--title border">
            <h6 class="display-1"></h6>
          </div>
          <!-- card body -->
          <div class="card-body">
            <!-- form -->
            <%= form_tag sessions_path do |f| %>
              <div class="row m-b-5">
                <div class="field">
                  <div class="input-field col s12">
                    <%= material_icon_tag :email, nil, :class => 'prefix' %>
                    <%= email_field_tag :email %>
                    <%= label_tag :email %><br />
                  </div>

                  <div class="input-field col s12">
                    <%= material_icon_tag :lock_outline, nil, :class => 'prefix' %>
                    <%= password_field_tag :password %>
                    <%= label_tag :password %><br />
                  </div>

                  <%= button_tag nil, class: "btn btn-block  waves-effect waves-light m-l-15" do %>
                    <span><%= I18n.t(:sign_in, scope: [:devise, :sessions]) %></span>
                  <% end %>

                </div>
              </div>
            <% end %>
            <!-- End form -->

            <!-- End form footer -->
          </div>
          <!-- End card body -->
        </div>
      </div>
    </div>
  </div>
</div>
