<br></br><br></br>
<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <% if @current_order %>
        <%= link_to checkout_path(@current_order), :class => 'waves-effect waves-light btn right' do %>
          <i class="material-icons md-24">shopping_cart</i><i class="material-icons md-24">arrow_forward</i>
        <% end if @current_order.total > 0 && action_name != 'edit' && action_name != 'complete' %>
        <span class="m-l-15"><%= I18n.t(:item, count: @current_order.line_items.count, scope: [:basic]) %> <%= humanized_money_with_symbol @current_order.total %></span>
      <% end %>
    </div>
  </div>
</footer>
