<!-- Dropdown Structure -->
<% if current_user.present? %>
  <ul id="dropdown" class="dropdown-content">
    <li>
      <%= link_to logout_path do %>
        <%= material_icon_tag :power_settings_new %>
        <%= I18n.t(:sign_out, scope: [:devise, :sessions]) %>
      <% end %>
    </li>
  </ul>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal">
        <div class="row">
          <%= form_tag '/products', method: :get, class: 'col s6' do |f| %>
            <%= button_tag nil, :class => 'm-l-15 waves-effect waves-light btn' do %>
              <i class="material-icons search-icon md-24">search</i>
            <% end %>
            <%= text_field_tag :query, nil, class: 'm-l-15 search-field' %>
          <% end if current_page?(products_path) || current_page?(root_path) %>
          <ul id="nav-mobile" class="right">
            <li>
              <a href="/products">Products
                <% if current_page?(products_path) || current_page?(root_path) %>
                  <span class="new badge" data-badge-caption='/ <%= Product.all.count %>' ><%= @products.count %></span>
                <% end %>
              </a>
            </li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-trigger w-150" href="#!" data-target="dropdown">Account<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
<% end %>

<script type="text/javascript">
  var elems = document.querySelectorAll('.dropdown-trigger');
  var instances = M.Dropdown.init(elems, {coverTrigger: false, constrainWidth: true});
</script>
