<% if @error_message %>
  <div class="row">
    <div class="col s12 m12">
      <div class="card-panel red">
        <span class="white-text"><%= @error_message %></span>
      </div>
    </div>
  </div>
<% end %>

<%= form_for @current_order.address || @address || Address.new, as: :address, url: add_address_path, method: :post, remote: true do |form| %>
  <div class="row">
    <div class="col s12 p-a-0 p-b-40 m-b-40 input-group">
      <div class="input-field col s12 m6">
        <%= form.label :first_name  %>
        <%= form.text_field :first_name %>
      </div>
      <div class="input-field col s12 m6">
        <%= form.label :last_name %>
        <%= form.text_field :last_name %>
      </div>
    </div>

    <div class="col s12 p-a-0 p-b-40 m-b-40 input-group">
      <div class="input-field col s12 m6">
        <%= form.label :postal_code  %>
        <%= form.text_field :postal_code %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :city  %>
        <%= form.text_field :city %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :street  %>
        <%= form.text_field :street %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :floor  %>
        <%= form.text_field :floor %>
      </div>
    </div>

    <div class="col s12 p-a-0 p-b-40 m-b-40 input-group">
      <div class="input-field col s12 m6">
        <%= form.label :phone  %>
        <%= form.text_field :phone %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :mobile_phone  %>
        <%= form.text_field :mobile_phone %>
      </div>
    </div>
  </div>

  <%= form.button :submit, :class => 'waves-effect waves-light btn' do %>
    <i class="material-icons md-24">send</i>
  <% end %>
<% end %>
