<div class="row">
  <div class="col s12 p-a-0 p-b-40 m-b-40 input-group">
    <div class="input-field col s12 m6">
      <%= label_tag :first_name, nil, {class: 'active'} %>
      <%= text_field_tag :first_name, target.address.first_name, disabled: true %>
    </div>
    <div class="input-field col s12 m6">
      <%= label_tag :last_name, nil, {class: 'active'} %>
      <%= text_field_tag :last_name, target.address.last_name, disabled: true %>
    </div>
  </div>

  <div class="col s12 p-a-0 p-b-40 m-b-40 input-group">
    <div class="input-field col s12 m6">
      <%= label_tag :postal_code, nil, {class: 'active'} %>
      <%= text_field_tag :postal_code, target.address.postal_code, disabled: true %>
    </div>

    <div class="input-field col s12 m6">
      <%= label_tag :city, nil, {class: 'active'} %>
      <%= text_field_tag :city, target.address.city, disabled: true %>
    </div>

    <div class="input-field col s12 m6">
      <%= label_tag :street, nil, {class: 'active'} %>
      <%= text_field_tag :street, target.address.street, disabled: true %>
    </div>

    <div class="input-field col s12 m6">
      <%= label_tag :floor, nil, {class: 'active'} %>
      <%= text_field_tag :floor, target.address.floor, disabled: true %>
    </div>
  </div>

  <div class="col s12 p-a-0 p-b-40 m-b-40 input-group">
    <div class="input-field col s12 m6">
      <%= label_tag :phone, nil, {class: 'active'} %>
      <%= text_field_tag :phone, target.address.phone, disabled: true %>
    </div>

    <div class="input-field col s12 m6">
      <%= label_tag :mobile_phone, nil, {class: 'active'}  %>
      <%= text_field_tag :mobile_phone, target.address.mobile_phone, disabled: true %>
    </div>
  </div>
</div>

<%= link_to complete_path(target), :class => 'waves-effect waves-light btn', method: :post do %>
  <i class="material-icons md-24">done</i>
<% end %>
