<div class="row m-t-50">
  <div class="col s12 m6">
    <% if @current_order %>
      <ul class="collection">
        <% @current_order.line_items.each do |li| %>
        <li class="collection-item avatar">
          <i class="material-icons circle green">label</i>
          <span class="title"><%= li.product.name %></span>
          <p><label><%= humanized_money_with_symbol li.product.price %></label></p>
        </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div id="address_section" class="col s12 m6">
    <%= render partial: 'address' %>
  </div>
</div>
