<% if @error_message %>
    document.getElementById("address_section").innerHTML = ("<%= escape_javascript(render partial: 'orders/address') %>");
<% else %>
    document.getElementById("address_section").innerHTML = ("<%= escape_javascript(render partial: 'orders/complete', locals: {target: @current_order}) %>");
<% end %>

M.updateTextFields()
