<div class="center order-completed-message">
  <h6>Your order <%= @current_order.number %> has been submitted successfully!</h6>
  <i class="material-icons md-48">check</i>
  <p>Rerurn to home</p>
  <%= link_to root_path, :class => 'waves-effect waves-light btn' do %>
    <i class="material-icons md-24">store</i>
  <% end %>
</div>
