
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greeytings, <%= @order.address.first_name %> <%= @order.address.last_name %></h1>
    <p>
      You have successfully submitted order <%= @order.number %>.
    </p>
    <p>Thanks for your purchase and have a great day!</p>
  </body>
</html>
