.m-b-15 {
  margin-bottom: 15px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.w-150 {
  width: 150px !important;
}

.search-icon {
  line-height: 24px !important;
  height: 24px !important;
}

.search-field {
  width: auto !important;
}

input[type=search]:focus + label {
  color: #fff !important;
}

input[type=search]:focus {
  border-bottom: 1px solid #000 !important;
}
