<div class="container">
  <div class="sign-in row m-t-50">
    <% @products.each do |product| %>
      <!-- Page content -->
      <div class="col s4">
        <div class="card small">
          <div class="card-content">
            <label class="card-title"><%= product.name %></label>
            <label><%= humanized_money_with_symbol product.price %></label>
            <!-- title -->
          </div>
          <div class="card-action">
            <%= link_to "Add to Cart", populate_path(product), method: :post, remote: true %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
