<!DOCTYPE html>
<html>
  <head>
    <title>DemoStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id='navbar'><%= render partial: 'shared/navbar' %></div>
    <main>
      <%= yield %>
    </main>
    <div id='footer'><%= render partial: 'shared/footer' %></div>
  </body>

</html>
